body{
    margin: 0;
}
header{
    text-align: center;
  background-image: linear-gradient(rgb(23, 61, 211),rgb(54, 128, 218));
    padding: 1.5em;
}
#div1{
    margin-top: 25px;
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 40%;
  min-width: 300px;
}
#resultado{
  justify-content: center;
}
label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
#btnCalcular{
    background-image: linear-gradient(rgb(72, 2, 72), rgb(139, 63, 139),rgb(166, 143, 173));
    color: aliceblue;
}